/* global defaults */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 12pt Helvetica, Arial;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #FFFFFF;
	color: #111111;
}

.centered {
	text-align: center;
}

.right {
	text-align: right;
}

/* footer */
footer {
	flex: 0 1 auto;
	justify-self: flex-end;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* central display */
.central {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	min-height: 100vh;
	margin: 0 10%;
}

@media screen and (max-width: 768px) {
	.central {
		margin: 0;
	}
}

.central p {
	padding-bottom: .5em;
}

.page {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 1em;
}

.panel {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#output {
	background: #CCCCCC;
}
